.DS_Store
build/output/
build/tmp/
review/output/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
!build/
!build/output/
build/output/*
!build/output/authoritative-edge/
build/output/authoritative-edge/*
!build/output/authoritative-edge/main.pdf
